@model mvcday1.Models.Customer
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Customer</h2>
<div class="container">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
<div class="form-group">

    @Html.LabelFor(c => c.Customername)
    @Html.TextBoxFor(c => c.Customername, new { @class = "form-text text-muted", autocomplte = "off", required = true })
    @*@Html.ValidationMessageFor(c=>c.Customername)*@

</div>


<div class="form-group">
    @Html.LabelFor(c => c.Birthdate)
    @Html.TextBoxFor(c => c.Birthdate, new { @class = "form-control-file", autocomplte = "off" })
    @Html.ValidationMessageFor(c => c.Birthdate)

</div>
<div class="form-group">
    @Html.LabelFor(c => c.Gender)
    @Html.DropDownListFor(c => c.Gender, ViewBag.Gender as SelectList, new { @class = "form-control" })
    @*@Html.DropDownList("Gender", null, new { @class = "form-control" })*@
    @Html.ValidationMessageFor(c => c.Gender)

</div>
<div class="form-group">
    @Html.LabelFor(c => c.City)
    @Html.TextBoxFor(c => c.City, new { @class = "form-control", autocomplte = "off" })
    @Html.ValidationMessageFor(c => c.City)

</div>
<div class="form-group">
    @Html.LabelFor(c => c.MemberShipTypeId)
    @Html.DropDownListFor(c => c.MemberShipTypeId, ViewBag.MemberShipTypeId as SelectList, new { @class = "form-control" })
    @*@Html.DropDownList("MemberShipType", null, new { @class = "form-control" })*@
    @Html.ValidationMessageFor(c => c.MemberShipTypeId)

</div>
<div class="form-group">

    <input type="submit" name="cmdsubmit" class="btn btn-outline-primary" />


</div>
@Html.ActionLink("BackToList", "Index", "Customers")
}

</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")}

