@model List<mvcday1.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body" color="pink">
        <div class="jumbotron">
            <h1 class="display-8"><marquee direction="right" color="blue">CustomerDetails!!!! </marquee></h1>


        </div>
    </div>
  @*  <p class="badge-info">The movies searched by customer</p>*@
    <hr class="my-4">
  

    <table class=" table table-bordered   table-light  table-hover">
        <tr>

            <th> Id</th>

            <th>Customername</th>
            <th>MemberShip Type</th>


        </tr>
        @foreach (var customer in Model)
        {
        <tr>
            <td> @customer.id</td>
            <td> @Html.ActionLink(@customer.Customername, "details", "customers", new { id = customer.id }, null)</td>
            <td>@customer.MemberShipType.Type</td>
            <td>   @Html.ActionLink("Edit", "EditCustomerDetails", "Customers", new { id = customer.id }, new { @class = "btn btn-secondary" })</td>
            <td>   @Html.ActionLink("Delete", "DeleteCustomerDetails", "Customers", new { id = customer.id }, new { @class = "btn btn-primary" })</td>

        </tr>
        }
        @Html.ActionLink("NewCustomer", "Create", "Customers")
      
    </table>


</div>